<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Delcy Loans</span>
    <span class="example-spacer"></span>
    <button 
    mat-icon-button 
    class="example-icon favorite-icon" 
    aria-label="add new loan applicant"
    (click)="openClient()"
    >
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon><span class="material-symbols-outlined">
exit_to_app
</span></mat-icon>
    </button>
  </mat-toolbar>
  <div class="loan-info">
    <div>Loans: <span>{{totalLoans | currency: 'GH₵'}}</span></div>
    <div>Interests: <span>{{totalInterest | currency: 'GH₵'}}</span></div>
  </div>
  <div class="search-loan">
    <mat-form-field class="w-100">
    <mat-label>Search client</mat-label>
    <input matInput placeholder="Enter a client Name" [formControl]="search">
  </mat-form-field>
  </div>
  <div class="loan-container">
    @for(item of clientLoans; track item.id){
      <app-client-details
        [id]="item.id"
        [name]="item.name"
        [mobile]="item.mobile"
        [loan]="item.amount"
        [month]="'March'"
        [interest]="item.interest"
        (detailsEvent)="openDetails($event)"
        (addLoanEvent)="openAddLoan($event)"
        (payLoanEvent)="openPayLoan($event)"
        (payInterestEvent)="openInterest($event)"
        (deleteClientEvent)="deleteClient($event)"
      ></app-client-details>
    }
    @if(clientLoans.length === 0){
      <h4 class="text-center">No data available</h4>
    }
    
  </div>