<h2 class="text-center">
    {{data.title}}
</h2>
<div mat-dialog-content>
  <mat-form-field floatLabel="always" class="w-100">
    <mat-label>Amount</mat-label>
    <input matInput type="number" placeholder="0" [formControl]="amount" required>
    <span matTextPrefix>₵&nbsp;</span>
    <span matTextSuffix>.00</span>
    @if (amount.invalid) {
      <mat-error>{{getAmountErrorMessage()}}</mat-error>
    }
  </mat-form-field>
  @if(data.type === 0){
    <mat-form-field class="w-100">
        <mat-label>Period</mat-label>
        <input matInput type="number" placeholder="Enter loan term(in months)" [formControl]="period" required>
        @if (period.invalid) {
            <mat-error>{{getPeriodErrorMessage()}}</mat-error>
        }
    </mat-form-field>
  }
  @if(data.type === 2){
    <mat-form-field class="w-100">
        <mat-label>Month</mat-label>
        <input matInput type="number" placeholder="Enter month's interest" [formControl]="period" required>
        @if (period.invalid) {
            <mat-error>{{getPeriodErrorMessage()}}</mat-error>
        }
    </mat-form-field>
  }
  
</div>
<div mat-dialog-actions>
    <button mat-button (click)="submit()">Submit</button>
    <button mat-button [mat-dialog-close] cdkFocusInitial>Close</button>
</div>